.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    padding: 0rem 1rem;
}

.fa-coins{
    font-size: 2rem;
    color: var(--blue);
}

.navbar h1 span{
    color: var(--blue);
}


